sysroot
MobileCydia
CydiaAppliance
postinst
_
__
Cydia.deb
Cydia_.deb
debs
.DS_Store
*.o
Images/
Version.h
cfversion
setnsfpn
bins


.DS_Store
compile/
build/
DerivedData/
xcodeBuild/_*
xcodeBuild/app
xcodeBuild/tweak
xcodeBuild/*.deb
xcodeBuild/*.control

# Swift Package Manager
.build/
/Packages/


## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

*.xcscmblueprint
*.xccheckout


Carthage/Build

fastlane/report.xml
fastlane/screenshots
Release
app/Pods
